<!DOCTYPE HTML>

<html class="bg-8 text-1">
	<head>
		<title>{{title}}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

		<meta charset="utf-8" />
		<meta name="description" content="Blog.init('tomasperezv'); A personal blog by a Web Developer, currently working and living in Stockholm, Sweden." />
		<meta name="keywords" content="Javascript,HTML5,PHP,Python,SOLID,Stockholm" />
		<meta name="author" content="Tomás Pérez" />

		<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
		<script type="text/javascript" src="{{static_domain}}/js/loader.js"></script>
		<link rel="stylesheet" type="text/css" media="all" href="{{static_domain}}/css/base.css" />
		<link rel="alternate" type="application/rss+xml" title="Blog.init(&quot;tomasperezv&quot;);" href="http://blog.tomasperez.com/feed/" />

	</head>
	<body id="blog">
	
		<div id="main">

			<header>
				<div id="title" class="text-2">
					<h1>Blog.init(&quot;tomasperezv&quot;);</h1>
				</div>

				<nav id="menu">
					<div class="item blog bg-4">
						<a href="http://blog.tomasperez.com/">
							<div class="icon"></div>
							<span>#blog</span>
						</a>
					</div>
					<div class="item about">
						<a target="_blank" href="http://www.tomasperez.com/">
							<div class="icon"></div>
							<span>#about_me</span>
						</a>
					</div>
					<div class="item code">
						<a target="_blank"  href="http://www.github.com/tomasperezv">
							<div class="icon"></div>
							<span>#code</span>
						</a>
					</div>
				</nav>

				<span class="motto">
					var me = {"motto": "It is a capital mistake to theorize before one has data"};
				</span>

				<a href="http://feeds.feedburner.com/tomasperezv" target="_blank">
					<div class="rss"></div>
				</a>

			</header>

		<div id="content" class="bg-1">

			<div class="postContainer">

				<div class="navigatorContainer">
					<div id="navigatorPrev" class="navigator" style="{{^hasPrev}}display:none{{/hasPrev}}" position="{{prev}}"></div>
				</div>
	
				<article class="post bg-2 text-1" id="post">

					{{firstPost}}
					<span class="author">Tom&aacute;s P&eacute;rez {{date}}</span>

					{{#noPosts}}
						<h2>Houston, this is a 404</h2>
						Well, we have a problem, what are you doing here?
						<br/>
						Go to the <a href="http://blog.tomasperez.com/">Index</a>
					{{/noPosts}}

				</article>
	
				<div class="navigatorContainer">
					<div id="navigatorNext" class="navigator" style="{{^hasNext}}display:none{{/hasNext}}"  position="{{next}}"></div>
				</div>

			</div>

		</div>

		</div>

		<div id="footer">
			<div class="separator">
				<span class="bg-7"></span>
				<span class="bg-3"></span>
				<span class="bg-5"></span>
				<span class="bg-6"></span>
				<span class="bg-4"></span>
			</div>
			<div class="contact">
				<ul>
					<li class="email">
						tom@0x101.com
					</li>
					<li>
						<a target="_blank" href="http://www.twitter.com/tomasperezv">@tomasperezv</a>
					</li>
				</ul>

				<div class="html5-badge">
					<a href="http://www.w3.org/html/logo/" target="_blank" title="HTML5 Powered with CSS3 / Styling, Performance &amp; Integration, and Semantics">
						<span class="badge-image"></span>
					</a>
				</div>

			</div>
		</div>

	</body>

	<script type="text/javascript">

		Loader.setDefinitionPath('./js/blog.json');
		Loader.loadFiles(function() {
			AjaxEngine.appUrl = 'http://{{api_url}}/';	
			Blog.init('{{category}}', '{{label}}');
		});

	</script>

</html>
