{{#post}}
	<div id="post_{{id}}">
		<span id="post_date_{{id}}">{{date}}</span>
		<div>
			<textarea class="post" id="post_content_{{id}}">{{content}}</textarea>
			<a href="#" onclick="Post.update(this)" postId="{{id}}">Edit</a>
			<a href="#" onclick="Post.remove(this)" postId="{{id}}">Delete</a>
		</div>
	</div>
{{/post}}

<div>
	<textarea class="post" id="newPostContent"></textarea>
	<a href="#" id="newPost">Add post</a>
</div>
