#posts {
	width: 820px;
	margin: 0 auto 0 auto;
}

.post {
	margin: 30px auto 0 auto;
	width: 600px;
	clear:both;
}

.post textarea {
	width: 580px;
	height: 300px;
	margin: 0 5px 0 0;
}

div.post.new {
	border:1px dotted gold;
	margin: 50px 0 30px 0;
}

#headlines a, #headlines a:visited {
	color:white;
}

.error {
	background-color:gold;
}
