html {
	background-image: url(../images/background.png);
	background-position: left top;
	background-repeat: repeat-x;
	font: normal 13px Georgia, serif;
}

.bg-1 {
	background-color: rgb(224, 224, 224);
}

.bg-2 {
	background-color: white;
}

.bg-3 {
	background-color: rgb(156, 75, 75);
}

.bg-4 {
	background-color: rgb(75, 141, 181);
}

.bg-5 {
	background-color: rgb(35, 130, 197);
}

.bg-6 {
	background-color: rgb(157, 196, 37);
}

.bg-7 {
	background-color: rgb(213, 68, 33);
}

.bg-8 {
	background-color: #2D2D2D;
}

.text-1 {
	color: #333;
}

.text-2 {
	color: white;
}

a, a:visited {
	color: black;
	text-decoration: none;
}

#menu {
	height: 60px;
	width: 742px;
	margin-right: auto;
	margin-left: auto;
}

#menu .item {
	float:left;
	height:100%;
	width:100px;
	background-repeat:no-repeat;
	text-align:center;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	margin-right:10px;
	border:1px solid rgb(100, 100, 100);
}

#menu .item.blog .icon {
	background-position: -96px -4px;
}

#menu .item.about .icon {
	background-position: -138px -2px;
}

#menu .item.code .icon {
	background-position: -183px -2px;
}

#menu .item:hover {
	background-color: rgb(75, 141, 181);
}

#menu .item .icon {
	margin-left:30px;
	float:left;
	background-image: url(../images/sprite.png);
	width: 40px;
	height:40px;
	margin-top:2px;
}

#menu .item span {
	color:white;
	display:block;
	clear:left;
	text-shadow: rgb(96, 119, 115) 0 1px;
}

#headlines div {
	width: 820px;
	height: 70px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 12px 0 0 0;
}

#title {
	width: 742px;
	margin-right: auto;
	margin-left: auto;
	height: 60px;
}

#title h1 {
	font-weight:bold;
	font-size:40px;
	letter-spacing: -2px;
	text-shadow: #C8C8C8 0 -1px;
}

header {
	margin-bottom:15px;
}

header .motto {
	display:block;
	font-size:14px;
	width: 690px;
	margin-top:15px;
	text-align:center;
	color: white;
	margin-left:auto;
	margin-right:auto;
}

.post {
	text-shadow: 0 -1px rgb(224, 223, 187);
	width: 710px;
	padding: 20px 15px 30px 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	min-height: 350px;
	font-size: 15px;
	line-height:25px;
}

.post img {
	margin: 10px 0 10px 0;
	-moz-box-shadow: 5px 5px 3px #888;
	-webkit-box-shadow: 5px 5px 3px #888;
	box-shadow: 5px 5px 3px #888;
}

.error {
	background-color:gold;
}

.post {
	float:left;
}

.menu {
	float:left;
	border: 1px solid white;
	width: 180px;
	top: 100;
	font-size:20px;
}

.menu li {
	margin-bottom:5px;
}

.menu ul {
	list-style-type: none;
}

.navigator {
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: -2px -2px;
	float:left;
	width:45px;
	height:45px;
	position:fixed;
	background-color:#969696;
	cursor:pointer;
}

.navigatorContainer {
	float:left;
	width:45px;
	height:45px;
	margin-right:5px;
}

.navigatorContainer :hover {
	background-color:white;
}

#navigatorPrev {
}

#navigatorNext {
	background-position: -50px -2px;
	margin-left:4px;
}

.hide {
	display: none;
}

.postContainer {
	width: 840px;
	margin-left: auto;
	margin-right: auto;
	overflow: overlay;
	margin-top:10px;
}

#content {
	overflow: overlay;
}

.post h2 {
	font-size: 25px;
	margin-bottom: 20px;
	font-weight: bold;
}

.post p {
	margin-top: 10px;
}

article a:hover, .contact a:hover {
	background-color: rgb(217, 239, 255);
	border-bottom: 1px solid rgb(35, 130, 197);
	color: rgb(35, 130, 197);
}

article a, article a:visited, .contact a, .contact a:visited {
	color: rgb(75, 141, 181);
	border-bottom: 1px dotted rgb(157, 196, 37);
	padding: 0 1px;
}

.avatar {
	width: 140px;
	height: 140px;
	background-image: url(../images/sprite.png);
	background-position: -224px -58px;
	background-repeat:no-repeat;
}

#footer {
	clear:both;
	min-height:85px;
	width:100%;
}

#footer .separator {
	height:4px;
}

#footer .separator span {
	height: 100%;
	width: 20%;
	display:block;
	float:left;
}

.author {
	display:block;
	font-weight:bold;
	margin-top:10px;
	font-size:13px;
	text-align:right;
}

.contact {
	margin-top:10px;
	font-size:16px;
	width: 742px;
	margin-left: auto;
	margin-right: auto;
	color:white;
	text-align:right;
}

.contact ul {
	list-style-type:none;	
	display:block;
	float:right;
}

.contact ul li {
	margin-bottom:10px;
}

.html5-badge {
	float:left;
	margin-left: auto;
	margin-right: auto;
	width: 197px;
	margin-left:271px;
}

.html5-badge a, .html5-badge a:visited {
	border-bottom: none;
	background-color: #2D2D2D; 
	color: #2D2D2D; 
	text-decoration:none;
}
