html {
	background-image: url(../images/background.png);
	background-position: left top;
	background-repeat: repeat-x;
	font: normal 13px Arial, Helvetica, sans-serif;
}

.bg-1 {
	background-color: #2D2D2D;
}

.bg-2 {
	background-color: #969696;
}

.text-1 {
	color: #C8C8C8;
}

.text-2 {
	color: white;
}

a, a:visited {
	color: white;
}

#headlines {
	height: 40px;
}

#headlines div {
	width: 820px;
	height: 70px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 12px 0 0 0;
}

.post, #title {
	width: 820px;
	margin-right: auto;
}

#title h1 {
	font: bold 50px Arial, Helvetica, sans-serif;
	padding: 25px 0 50px 0;
	letter-spacing: -2px;
	text-shadow: #C8C8C8 0 -1px;
	margin-left: 10%;
}

.post {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	min-height: 300px;
	padding-top: 5px;
	padding-left: 5px;
	font-size: 20px;
}

.error {
	background-color:gold;
}

.post {
	float:left;
}

.menu {
	border: 1px solid white;
	width: 180px;
	position:fixed;
	right:20px;
	top: 100;
	font-size:20px;
}

.menu li {
	margin-bottom:5px;
}

.menu ul {
	list-style-type: none;
}

.navigator {
	float:left;
	width:50px;
	height:50px;
	position:fixed;
	background-color:red;
}

.navigatorContainer {
	float:left;
	width:6%;
	height:500px;
}

#navigatorPrev {
	margin-left:2%;
}

#navigatorNext {
	margin-left:4%;
}

.hide {
	display: none;
}
