html {
	background-image: url(../images/background.png);
	background-position: left top;
	background-repeat: repeat-x;
	font: normal 13px Georgia, serif;
}

.bg-1 {
	background-color: rgba(102, 102, 102, 0.32);
}

.bg-2 {
	background-color: white;
}

.text-1 {
	color: #333;
}

.text-2 {
	color: white;
}

a, a:visited {
	color: black;
	text-decoration: none;
}

#menu {
	height: 60px;
	width: 820px;
	margin-right: auto;
	margin-left: auto;
}

#menu .item {
	float:left;
	height:100%;
	width:100px;
}

#menu .item span {
	display:none;
}

#headlines div {
	width: 820px;
	height: 70px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 12px 0 0 0;
}

#title {
	width: 820px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom:40px;
	height: 80px;
}

#title h1 {
	font-weight:bold;
	font-size:50px;
	letter-spacing: -2px;
	text-shadow: #C8C8C8 0 -1px;
}

#title .motto {
	display:block;
	font-size:16px;
	width: 690px;
	margin-top:18px;
	text-align:center;
}

.post {
	text-shadow: 0 -1px rgb(224, 223, 187);
	width: 610px;
	padding: 30px 15px 30px 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	min-height: 300px;
	font-size: 15px;
	line-height:25px;
}

.post img {
	margin: 10px 0 10px 0;
}

.error {
	background-color:gold;
}

.post {
	float:left;
}

.menu {
	float:left;
	border: 1px solid white;
	width: 180px;
	top: 100;
	font-size:20px;
}

.menu li {
	margin-bottom:5px;
}

.menu ul {
	list-style-type: none;
}

.navigator {
	background-image: url(../images/sprite.png);
	background-repeat: no-repeat;
	background-position: -2px -2px;
	float:left;
	width:45px;
	height:45px;
	position:fixed;
	background-color:#969696;
	cursor:pointer;
}

.navigatorContainer {
	float:left;
	width:45px;
	height:45px;
	margin-right:5px;
}

.navigatorContainer :hover {
	background-color:white;
}

#navigatorPrev {
}

#navigatorNext {
	background-position: -50px -2px;
	margin-left:4px;
}

.hide {
	display: none;
}

.postContainer {
	width: 840px;
	margin-left: auto;
	margin-right: auto;
}

.aboutMe {
	margin-left:5px;
	width:140px;
	float:left;
	height: 141px;
	background-color:white;
}

.post h2 {
	font-size: 25px;
	margin-bottom: 20px;
	font-weight: bold;
}

.post p {
	margin-top: 10px;
}

article a:hover, .aboutMe a:hover {
	background-color: rgb(217, 239, 255);
	border-bottom: 1px solid rgb(35, 130, 197);
	color: rgb(35, 130, 197);
}

article a, article a:visited, .aboutMe a, .aboutMe a:visited {
	color: rgb(75, 141, 181);
	border-bottom: 1px dotted rgb(157, 196, 37);
	padding: 0 1px;
}

.avatar {
	width: 150px;
	height: 150px;
	background-image: url(../images/sprite.png);
	background-position: -224px -58px;
	background-repeat:no-repeat;
}
